---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import TechStack from '../components/TechStack.astro';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <Projects />
    <TechStack />
    <Experience />
    <Contact />
  </main>
  <Footer />
</Layout>
